.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    color: var(--purple);
    font-weight: 700;
    line-height: 200%;

}

.logo{
    display: flex;
    height: 3rem;
}

.logo p{
    font-size: 2rem;
}
.header img{
    margin-right:0.3rem;
}

.header span{
    color: var(--blue);
}

.cadasterForm{
    margin-top: calc(0px - 2rem - 6px);
}

