.textarea{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.textarea textarea{
    width: 60%;
    text-align: center;
    background: var(--gray-500);
    border: solid var(--gray-700);
    resize: none;
    padding: 1rem;
    border-radius: 6px;
    color: var(--gray-100);
    line-height: 0.2;
   
}

.textarea button{
    display: flex;
    height: 2.5rem;
    border-radius: 6px;
    border: 0;
    background: var(--blue-dark);
    padding: 0.55rem 1rem;
    color: var(--gray-100);
    margin-left: 0.5rem;
    font-weight: bold;
    cursor: pointer;
}

.body{
    width: 70%;
    margin: 0 auto;
}
.header{
    justify-content: center;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}   

.header p{
    color: var(--blue);
    font-weight: bold;
}
.header p + p{
    color: var(--purple);
    
}

.header span{
    background-color: var(--gray-400);
    color: var(--gray-200);
    border-radius: 8px;
    border: 0;
    padding: 0.3rem;
}

.figure{
    margin-bottom: 1rem;
    color: var(--gray-300);
}

.tasklist{
    padding-top: 2rem;
    border-top: 1px solid var(--gray-400);
    flex-direction: column;
    display: flex;
    align-items: center;

}

.tasklist p{
    color: var(--gray-300);
    font-weight: bold;
}

.tasklist p + p{
    color:var(--gray-300);
    font-weight:100;
    line-break: 1rem;
    font-size: small;
}

.taskListCard {
    margin-top: 1rem;
}